body{
    background: black;
    color: white;
    margin: 0;
  }
  a{
    text-decoration: none;
    color:inherit;
  }
  .clearfix::after{
    content: '';
    display: block;
    clear: both;
  }
 
.topNavBar {
  padding: 20px 0 20px 0;
  position: fixed;
  top: 0;
  left:0;
  width:100%;
  }
  .topNavBar-inner{
  padding: 0 16px;
  }
  /*Logo*/
  .topNavBar .logo {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 24px;
    padding-top: 8px;
    float: left;
  }
  .topNavBar .logo .rs{
    color:#e6686a;
    margin-right: 4px;
  }
  .topNavBar .logo .card{
    color:#9A9DA2;
  }
  
  /*右导航条*/
  .topNavBar nav {
    padding-top: 7px;
    float: right;
  }
  .topNavBar nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .topNavBar nav ul > li{
    float: left;
    margin-left: 17px;
    margin-right: 17px;
  }
  .topNavBar nav ul > li > a{
    font-size: 12px;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    color: rgba(255, 255, 255, 0.7);
    font-weight: bold;
    padding-top:4px;
    padding-bottom:6px;
    display:block;
  }
  .topNavBar nav ul>li>a:hover{
    border-bottom-color: #DC6465;
  }
  .banner{
   background-image:url(./img/img2.jpg);
   height: 515px;
  }